VITE_ENCRYPTION_SALT=replace_with_stable_salt
VITE_GROQ_API_KEY=replace_with_local_dev_groq_key
GROQ_API_KEY=replace_with_server_side_groq_key
FIREBASE_PROJECT_ID=retiresahi
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@retiresahi.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace_with_private_key_from_service_account_json\n-----END PRIVATE KEY-----\n"
